:root {
  --brand-color-left: #2196F3;
  --brand-color-right: #000000;
  --brand-color-fut: #FFFFFF;
  --hover-color: #2196F3;
  --nav-color: #212121;
  --contacts-color: #757575;
  --hero-bg-color: #2F303A;
  --light-collor: #FFFFFF;
  --button-color: #2196F3;
  --button-hover-color: #188CE8;
  --spec-content-color: #757575;
  --team-content-color: #F5F4FA; 
  --footer-color: #2F303A;
  --cont-foot-color: #ffffff99;
  --button-filters-color: #F5F4FA;
  --portfolio-content-color: #757575;
}


body {
  font-family: 'Roboto';
  font-size: 14px;
  color: #212121;
  letter-spacing: 0.03em;
  background-color: #FFFFFF;
  
}
li {
  list-style-type: none;
}
/* Оформлення логотипу */
.logo {
text-decoration: none;
}
/* Перша частина лого */
.logo-web {
font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color-left);
}
/* Друга частина лого */
.logo-studio {
font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color-right);
}
/* Частина лого у футері (біла)*/
.logo-studio-collor {
font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color-fut);
}

/* Навігація сайту */
.nav-link {
  text-decoration: none;
  list-style: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);

}
.nav-link:hover, 
.nav-link:focus {
  color: var(--hover-color);
}

.nav .studio.current,
.nav .portfolio.current {
  color: var(--hover-color);
}

/* Контакти сайту */
.contacts a {
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    color: var(--contacts-color);
}

.contacts a:hover,
.contacts a:focus {
color: var(--hover-color);
}



/* Стилі на основний заголовок  */
.hero {
  background: var(--hero-bg-color);
}

.heero-title {
  font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-collor);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
/* Стилі на кнопку під основним банером */
.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: var(--button-color);
      color: var(--light-collor);
}


.button:hover,
.button:focus {
  background: var(--button-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button,
.button-filters {
  cursor: pointer;
}
/* Скриваємо заголовок h2 та h1 у портфоліо */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.special-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    font-size: 14px;
}

.special-content {
    line-height: 1.71;
    color: var(--spec-content-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
  background: var(--team-content-color);
}

.team-name {
font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--spec-content-color);
}

.footer {
  background: var(--footer-color);
}

.contacts-foot {
    text-decoration: none;
    font-weight: 400;
    line-height: 1.71;
    color: var(--cont-foot-color);

}

.contacts-foot:hover,
.contacts-foot:focus {
  color: var(--hover-color);
}
.address {
text-decoration: none;
line-height: 1.71;
color: var(--light-collor);
}

.address-item {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-collor)
}

/* Portfolio */

.button-filters {
    font-family: inherit;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background-color: var(--button-filters-color);
    color: var(--nav-color);
}

.button-filters:hover,
.button-filters:focus {
  background-color: var(--button-hover-color);
  color: var(--light-collor);
}

.portfolio-title {
  font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-content {
    font-size: 16px;
    line-height: 1.87;
    color: var(--portfolio-content-color)

}
.adres {
  font-style: normal;
}
.address-position {
  text-decoration: none;
}

.address:hover,
.address:focus{
  color: var(--button-hover-color);
}
