body {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  letter-spacing: 0.03em;
  background-color: #FFFFFF;
  
}
li {
  list-style-type: none;
}
/* Оформлення логотипу */
.logo {
text-decoration: none;
}
/* Перша частина лого */
.logo-web {
font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
}
/* Друга частина лого */
.logo-studio {
font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
/* Частина лого у футері (біла)*/
.logo-studio-collor {
font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #FFFFFF;
}

/* Навігація сайту */
.nav-link {
  text-decoration: none;
  list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;

}
.nav-link:hover, 
.nav-link:focus {
  color: #2196F3;
}

.nav .studio.current,
.nav .portfolio.current {
  color: #2196F3;
}

/* Контакти сайту */
.contacts a {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: #757575;
}

.contacts a:hover,
.contacts a:focus {
color: #2196F3;
}



/* Стилі на основний заголовок  */
.hero {
  background: #2F303A;
}

.heero-title {
  font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Стилі на кнопку під основним банером */
.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: #2196F3;
      color: #FFFFFF;
}


.button:hover,
.button:focus {
  background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button,
.button-filters {
  cursor: pointer;
}
/* Скриваємо заголовок h2 та h1 у портфоліо */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.special-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.special-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team {
  background: #F5F4FA
}

.team-name {
font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-post {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.footer {
  background: #2F303A;
}

.contacts-foot {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff99;

}

.contacts-foot:hover,
.contacts-foot:focus {
  color: #2196F3;
}
.address {
text-decoration: none;
font-size: 14px;
line-height: 1.71;
color: #FFFFFF;
}

/* Portfolio */

.button-filters {
    font-family: inherit;
  font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    background-color: #F5F4FA ;
}

.button-filters:hover,
.button-filters:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.portfolio-title {
  font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-content {
    font-size: 16px;
    line-height: 1.87;
    color: #757575;

}

